.personalActive{
    height: 41px;
    border: none;
    box-shadow: 3px 2px 14px #0000001f;
    color: #D72130;
    width: 169px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;

}

.passwordActive{
    transform: scale(1.01);
    background: white;
    height: 41px;
    border: none;
    box-shadow: 3px 2px 14px #0000001f ;
    color: #D72130;
    width: 229px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 6;
}

.surveysActive{
    transform: scale(1.01);
    background: white;
    height: 41px;
    border: none;
    box-shadow: 3px 2px 14px #0000001f;
    color: #D72130;
    width: 185px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;
}

.hubActive{
    transform: scale(1.01);
    background: white;
    height: 41px;
    border: none;
    box-shadow: 3px 2px 14px #0000001f;
    color: #D72130;
    width: 176px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;
}

.borderRightNone {
    border-right: none;
}