@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --header-row-height: 83px;
}

.header {
    position: fixed;
    width: 100%;
}

.header--navbar, .header--page-name, .header--horisontal-menu {
    display: flex;
    height: var(--header-row-height);
}   

.header--page-name, .header--horisontal-menu {
    justify-content: center;
    align-items: center;
}

.header--navbar {
    background-color: #F8F3A7;
}   

.header--page-name {
    background-color: #D7E4F1;
}

.header--horisontal-menu {
    background-color: #DFE9BE;
}

.navbar--logo, .navbar--switch, .navbar--profile {
    display: flex;
    align-items: center;
}

.navbar--logo {
    width:253px;
    margin-right: auto;
}

.button-sport-hub{
    background: #D72130;
    width: 253px;
    height: 83px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFBFB;
    border:0;
}

.navbar--profile {
    padding: 0 100px;
    background-color: #FBF7D5;
}

.navbar--switch {
    padding: 0 30px;
    background-color: white;
}

.switch-button:hover {
    cursor: pointer;
}

.switch-view-tooltip {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    padding: 15px 25px;
    line-height: 45px;
    background-color: #313541;
    color: white;
    border-radius: 3px;
}

.switch-view-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #313541 transparent;  
}

.overlayCustomStyles{
    position: absolute;
}