:root {
    --header-row-height: 83px;
}

a:visited {
    color: inherit;
}

.header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top:0;
}

.header--navbar {
    display: flex;
    height: var(--header-row-height);
    background-color: #f9f3a7;
    justify-content: space-between;
}


.navbar--logo, .navbar--profile,
.navbar--languages, .navbar--search,
.navbar--social-media {
    display: flex;
    align-items: center;
}

.navbar--logo {
    justify-content:center;
    width:253px;
    margin-right: auto;
    background-color: #FBE7C4;
    text-decoration: none;
}

.navbar--profile {
    justify-content:center;
    width:262px;
    background-color: #FBF7D5;
}

.navbar--languages{
    justify-content:center;
    width:150px;
    background-color: #d7e5f1;
}

.navbar--search{
    border-right:1px solid #EDEDED;
    justify-content:center;
    width:456px;
    background-color: #f9f3a7;
}

.navbar--social-media{
    border-right:1px solid #EDEDED;
    justify-content:center;
    width:317px;
    background-color: #dee9bf;
}