@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --header-height: 249px;
}

.wrapper-vertical-menu {
    top: var(--header-height);
    position: fixed;
    padding: 30px 0px;
    width: 87px;
    height: 800px;
    border-right: 2px solid #D8D8D8;
}

.content-vertical-menu{
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-items: center;
    gap: 5px;
}

.sidebar-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.sidebar-icon:hover {
    background-color: #C6CCD71C;
    cursor: pointer;
}

.sidebar-icon:hover *{
    color: #D72130;
}

.tippy-box[data-theme~='myThemeTooltip']{
    background-color: #313541;
    color: white;
}

.sidebar-tooltip{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    padding: 5px;
    line-height: 35px;
}