
.profile-information {
    margin-top: 45px;
    width: 389px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-information-photo {
    margin: 0;
    height: 120px;
    width: 120px;
}

.profile-information-photo > img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

input {
    box-sizing: border-box;
}

.profile-information-add-photo {
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 80px;
    margin-top: -44px;
    border-radius: 50%;
    background: #D72130;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-information-add-photo:hover {
    cursor: pointer;
}

.profile-information-add-photo > svg {
    height: 23px;
    width: 28px;
    z-index: 3;
    color: white;
}

#profile-information-first-name-input {
    width: 389px;
    height: 42px;

}

.profile-information-inputs > form {
    display: flex;
    flex-direction: column;
}

#profile-information-last-name-input {
    width: 389px;
    height: 42px;
}

#profile-information-email-input {
    width: 389px;
    height: 42px;
}

.profile-information-inputs{
    width: 389px;
    margin: 27px auto;
}

.profile-information-inputs > form > label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.9px;
    color: #434C5D;
    text-transform: uppercase;
    line-height: 11px;
    margin-bottom: 8px;
    margin-top: 16px;
}

.profile-information-inputs > form > label:first-child {
    margin-top: 0;
}

.profile-information-inputs > form > label:last-child {
    margin-bottom: 0;
}

.profile-information-inputs > form > input {
    border: 1px solid #D4D9E2;
}

.profile-information-inputs > form>  button {
    margin-top: 35px;
    width: 389px;
    height: 42px;
    cursor: pointer;
    background: #D72130;
    border: 1px solid #D72130;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}