.options {
    box-sizing: border-box;
    height: 39px;
    width: 759px;
    display: flex;
    margin-top: 79px;
    flex-direction: row;
    z-index: 4;
}

.profile-navigation-container {
    margin-top: 83px;
    margin-left: 253px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .profile-navigation-container {
        width: 1030px;
    }
}

.options-personal{
    height: 100%;
    width: 169px;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    text-decoration: none;
    color: black;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;
}

.options-change-password{
    height: 100%;
    width: 229px;
    border-right: 1px solid #EDEDED;
    text-decoration: none;
    color: black;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;
}

.options-surveys{
    height: 100%;
    width: 185px;
    border-right: 1px solid #EDEDED;
    text-decoration: none;
    color: black;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;
}

.options-team-hub{
    height: 100%;
    width: 176px;
    border-right: 1px solid #EDEDED;
    text-decoration: none;
    color: black;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;
}

.options > a:hover {
    color: #D72130;
    cursor: pointer;
}

.personal-active{
    height: 41px;
    border: none;
    box-shadow: 3px 2px 14px #0000001f;
    color: #D72130;
    width: 169px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;

}

.password-active{
    transform: scale(1.01);
    background: white;
    height: 41px;
    border: none;
    box-shadow: 3px 2px 14px #0000001f ;
    color: #D72130;
    width: 229px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 6;
}

.surveys-active{
    transform: scale(1.01);
    background: white;
    height: 41px;
    border: none;
    box-shadow: 3px 2px 14px #0000001f;
    color: #D72130;
    width: 185px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;
}

.team-hub-active{
    transform: scale(1.01);
    background: white;
    height: 41px;
    border: none;
    box-shadow: 3px 2px 14px #0000001f;
    color: #D72130;
    width: 176px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Open Sans;
    text-align: center;
    line-height: 19px;
    font-weight: 601;
    z-index: 5;
}

.borderRightNone {
    border-right: none;
}