.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(60%, 458px);
    background: #FFFFFF;
    box-shadow: 0px 4px 28px #818181;
    font-size: 14px;
}

.modal-action-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 2.5rem;
    margin-top: -2.5rem;
    color: #FFFFFF;
    background-color: #D72130;
}

.modal-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    
    p {
        margin: 0;
    }
}

.modal-action-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 2rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-top: 1px solid #F4F5F8;
    
}

.btn-cancel {
    color: #D72130;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    background-color: transparent;
    border: 0;

    &:hover {
        color: #E02232;
        transition: background-color 300ms linear;
    }
    
    &:active, &:focus {
        color: #C80515;
    }
}

.btn-action {
    color: #FFFFFF;
    background: #D72130;;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.8px;
    border: 1px solid #D72130;
    width: min(60%, 107px);
    height: 32px;
    
    &:hover {
        color: #FFFFFF;
        background: #E02232;
        border: 1px solid #E02232;
        transition: background-color 300ms linear;
    }
    
    &:active, &:focus {
        color: #FFFFFF;
        background: #C80515;
        border: 1px solid #C80515;
    }
}