.change-password {
    display: block;
    margin-top: 89px;
    width: 389px;
}

.change-password > form {
    display: flex;
    flex-direction: column;
}

.change-password > form > p {
    margin: 0;
    height: 61px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.change-password > form > p > label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.9px;
    color: #434C5D;
    text-transform: uppercase;
    line-height: 11px;
    margin-bottom: 8px;
}

.change-password > form > p > svg {
    width: 18px;
    height: 12px;
    margin-top: -26px;
    margin-left: 355px;
    cursor: pointer;

}

.change-password > form > p:nth-child(2) > svg{

    top: 116px;
    color: #D4D9E2;
}

.change-password > form > p:nth-child(3) > svg{

    top: 198px;
    color: #D4D9E2;
}

.change-password > form > p > input {
    border: 1px solid #D4D9E2;
    width: 389px;
    height: 42px;
}

.change-password > form > button {
    margin-top: 19px;
    width: 389px;
    height: 42px;
    cursor: pointer;
    background: #D72130;
    border: 1px solid #D72130;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-weight: 701;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
}
