:root {
    --margin-value: 300px;
}

.content-area {
    display: flex;
    position: absolute;
    margin: var(--margin-value);
    height: calc(100% - var(--margin-value));
    width: calc(100% - 2 * var(--margin-value));
    justify-content: center;
    align-items: center;
}