.switch-button {
    display: flex;
    align-items: center;
}

.switch-button:hover {
    cursor: pointer;
}

.switch-view-tooltip {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    padding: 15px 25px;
    line-height: 45px;
    background-color: #313541;
    color: white;
    border-radius: 3px;
}

.switch-view-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #313541 transparent;  
}

.overlayCustomStyles{
    position: absolute;
    z-index: 1000;
}