
.personalOption {
    margin-top: 45px;
    width: 389px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalOption--photo {
    margin: 0;
    height: 120px;
    width: 120px;
}

input {
    box-sizing: border-box;
}

.personalOption--addPhoto {
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 80px;
    margin-top: -44px;
    border-radius: 50%;
    background: #D72130;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalOption--addPhoto:hover {
    cursor: pointer;
}

.personalOption--addPhoto > img:nth-child(1) {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -8px;
}

.personalOption--addPhoto > img:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.9px;
    margin-top: -3px;
    z-index: 3;
}

#personalOption-FirNameInput {
    width: 389px;
    height: 42px;

}

.personalOption-inputs > form {
    display: flex;
    flex-direction: column;
}

#personalOption-LasNameInput {
    width: 389px;
    height: 42px;
}

#personalOption-EmailInput {
    width: 389px;
    height: 42px;
}

.personalOption-inputs{
    width: 389px;
    margin: 27px auto;
}

.personalOption-inputs > form > label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.9px;
    color: #434C5D;
    text-transform: uppercase;
    line-height: 11px;
    margin-bottom: 8px;
    margin-top: 16px;
}

.personalOption-inputs > form > label:first-child {
    margin-top: 0;
}

.personalOption-inputs > form > label:last-child {
    margin-bottom: 0;
}

.personalOption-inputs > form > input {
    border: 1px solid #D4D9E2;
}

.personalOption-inputs > form>  button {
    margin-top: 35px;
    width: 389px;
    height: 42px;
    cursor: pointer;
    background: #D72130;
    border: 1px solid #D72130;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}