:root {
    --footer-row-height-top: 294px;
    --footer-row-height-bottom: 83px;
}

a:visited {
    color: inherit;
}

.footer{
    position: absolute;
    top:calc(var(--icon--placing) + 1700px );
    width: 100%;
    align-items: center;
}

.footer-navbar-top {
    z-index: 998;
    display: flex;
    height: var(--footer-row-height-top);
    background-color: #f9f3a7;
    align-items: center;
    justify-content: center;
}

.footer-navbar-bottom {
    z-index: 999;
    display: flex;
    height: var(--footer-row-height-bottom);
    background-color: #f9f3a7;
    align-items: center;
}

.footer-logo{
    padding: 0 100px;
    margin-right: auto;
    background-color: #FBE7C4;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.company-info{
    width: 33%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfe9be;
}

.contributors{
    width: 34%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecd3e5;
}

.newsletter{
    width: 33%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7e4f1;
}