.filter-dropdown{
  position: relative;
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 14px;
  margin-bottom: 56px;
  line-height: 17px;
  width: 212px;
  height: 36px;
}

.filter-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid #D4D9E2;
  font-weight: 600;
  height: 36px;
  min-width: 177px;
  padding: 0 15px 0 20px;
}

.filter-dropdown-list {
  position: absolute;
  right: 0;
  top: 38px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 17px #00000017;
  width: fit-content;
  width: 212px;
  font-weight: 400;
}

.filter-dropdown-list-element {
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  height: 40px;
  text-align: left;
}

.filter-dropdown-list-element:hover {
  background-color: #d721301c;
  color: #C63638;
}
