a:visited {
    color: inherit;
}

.navbar-search, .navbar-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-search {
    width: 100%;
}

.navbar-social-media {
    width: 439px;
}

.navbar-languages-user {
    width: 150px;
    background-color: #d7e5f1;
}