
.surveysOption-OpenCloseText{
    display: flex;
    margin-bottom: 20px;
}

.surveysOption-OpenCloseText > button:first-child{
    margin-right: 10px;
}

.surveysOption-container {
    width: 1026px;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
}

.surveysOption-OpenCloseButton {
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    margin: 0;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    cursor: pointer;
}

.surveysOption-OpenCloseButtonActive {
    color: #D72130;
    text-decoration: underline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    margin: 0;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    cursor: pointer;
}

.surveysOption-OpenCloseText > p:nth-child(2){
    margin-left: 10px;
}

.surveysOption-OpenQuests, .surveysOption-ClosedQuests {
    width: 708px;
}

.surveysOption-OpenQuests-head, .surveysOption-ClosedQuests-head{
    display: flex;
    width: 708px;
    height: 48px;
    background: #F2F2F2;
    align-items: center;
    justify-content: space-between;
}

.surveysOption-OpenQuests-head > p:nth-child(1), .surveysOption-ClosedQuests-head > p:nth-child(1) {
    margin-left: 16px;
    text-transform: uppercase;
}

.surveysOption-OpenQuests-head > div:nth-child(2) > p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 132px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    color: #D72130;
}

.closedSurveysContainer > div {
    display: flex;
    justify-content: space-between;
}

.surveysOption-ClosedQuests-head > div:nth-child(2) > p {
    margin: 0;
    ont-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #434C5D;
    margin-right: 64px;
}

.surveysOption-OpenQuests-head > div:nth-child(2){
    cursor: pointer;
    width: 150px;
    height: 17px;
    margin-right: 20px;
}

.survey-not-active > p:nth-child(2) {
    margin-left: 210px;
}

.survey-active > p:nth-child(2) {
    margin-right: 35px;
}

.surveysContainerOpened > div > p, .sContainerClosed > div > p {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2B2F43;
}

.closedSurveysContainer > div > p, .sContainerClosed > div > p {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2B2F43;
}

.surveysOption-OpenQuests-head > div:nth-child(2) > p > svg {
    font-size: 12px;
    position: absolute;
    margin: 0;
    padding: 0;
    margin-left: 135px;
}


.surveysOption-OpenQuests > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.survey-not-active {
    cursor: pointer;
    width: 706px;
    height: 55px;
    display: flex;
    align-items: center;
    border-right: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.hide-not-active-text {
    align-items: center;
    margin-left: 19px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:350px;
    justify-content: left;
    align-items: center;
}

.show-active-text{
    margin-left: 19px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 560px;
    justify-content: left;
    align-items: center;
}

.survey-active-border {
    position: absolute;
    height: 59px;
    width: 4px;
    background: #C4C4C4;
    border-radius: 2px;
    margin-left: 702px;
}

.survey-active {
    cursor: pointer;
    width: 706px;
    height: 55px;
    display: flex;
    align-items: center;
    filter: drop-shadow(3px 2px 14px rgba(0, 0, 0, 0.09));
    background: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}


.surveysSectionContainerOpened, .surveysSectionContainerClosed {
    display: flex;
    margin-bottom: 100px;
}

.userQuiz {
    width: 284px;
    height: 800px;
    margin-left: 34px;
    flex-direction: column;
}

.userQuiz > span {
    height: 48px;
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userQuiz > span > p:first-child{
    margin-left: 21px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #434C5D;
}

.userQuiz > span > p:last-child {
    margin-right: 19px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B2B2B2;
}

.userQuiz > div > p {
    width: 246px;
    margin-left: 25px;
    margin-top: 21px;
    margin-bottom: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B2F43;
}

.surveysPollandPoolContainer {
    min-height: 330px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.surveysReaderPoll {
    display: flex;
    flex-direction: column;
    width: 234px;
    height: 145px;
    margin-left: 19px;
    margin-top: 35px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #7F7B7B;

}

.surveysReaderPoll > span  {
    height: 17px;
    display: flex;
    align-items: center;
}

.surveysReaderPoll > span > label  {
    margin-left: 24px;
}

.surveysReaderPoll > span  {
    margin-bottom: 18px;
}

.surveysReaderPoll > span:last-child  {
    margin-bottom: 0;
}

.nextSurveyButton {
    width: 85px;
    height: 33px;
    border: none;
    background: #D72130;

    color: #FFF5F5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}

.resultSwitchButton {
    margin-left: 13px;
    border: 1px solid #C63638;
    width: 137px;
    height: 32px;
    background: transparent;
    color: #D72130;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}

.surveysPollNavButtons {
    margin-top: 15px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    margin-left: 25px;
    margin-right: 25px;
}

.seeTheResultsButtonActive {
    margin-left: 98px;
    border: 1px solid #C63638;
    width: 137px;
    height: 32px;
    background: transparent;
    color: #D72130;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}

.surveysPollNavButtons > button:nth-child(1) {
    align-items: center;
    justify-content: center;
}

.surveysReaderPool {
    display: none;
    margin-top: 35px;
    flex-direction: column;
    width: 246px;
    height: 145px;
    margin-left: 19px;
}

.surveysReaderPool > div {
    margin-bottom: 22px;
}

.surveysReaderPool > div:last-child {
    margin-bottom: 0;
}

.surveysReaderPool > div > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

}

.surveysReaderPool > div > span > p {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
}

.yesResultsProgressBar, .noResultsProgressBar, .maybeResultsProgressBar {
    width: 246px;
    height: 10px;
    margin: 0;
    background: #D8D8D8;
    border-radius: 50px;
}

.closedSurveysReaderPool {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 246px;
    height: 145px;
    margin-left: 19px;
    margin-top: 16px;
}

.closedSurveysPollandPoolContainer {
    background: #F8F8F8;
}

.closedSurveysReaderPool {
    margin-bottom: 81px;
}

.closedSurveysReaderPool > div > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.closedSurveysReaderPool > div > span > p {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
}

.closedSurveysReaderPool > div {
    margin-bottom: 22px;
}

.closedSurveysReaderPool > div:last-child {
    margin-bottom: 0;
}



