
.surveys-open-close-text{
    display: flex;
    margin-bottom: 20px;
}

.surveys-open-close-text > button:first-child{
    margin-right: 10px;
}

.surveys-container {
    width: 1026px;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
}

.surveys-open-close-button {
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    margin: 0;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    cursor: pointer;
}

.surveys-open-close-button-active {
    color: #D72130;
    text-decoration: underline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    margin: 0;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    cursor: pointer;
}

.surveys-open-close-text > p:nth-child(2){
    margin-left: 10px;
}

.surveys-open-quests, .surveys-closed-quests {
    width: 708px;
}

.surveys-open-quests-head, .surveys-closed-quests-head{
    display: flex;
    width: 708px;
    height: 48px;
    background: #F2F2F2;
    align-items: center;
    justify-content: space-between;
}

.surveys-open-quests-head > p:nth-child(1), .surveys-closed-quests-head > p:nth-child(1) {
    margin-left: 16px;
    text-transform: uppercase;
}

.surveys-open-quests-head > div:nth-child(2) > p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 132px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    color: #D72130;
}

.closed-surveys-container > div {
    display: flex;
    justify-content: space-between;
}

.surveys-closed-quests-head > div:nth-child(2) > p {
    margin: 0;
    ont-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #434C5D;
    margin-right: 64px;
}

.surveys-open-quests-head > div:nth-child(2){
    cursor: pointer;
    width: 150px;
    height: 17px;
    margin-right: 20px;
}

.survey-not-active > p:nth-child(2) {
    margin-left: 210px;
}

.survey-active > p:nth-child(2) {
    margin-right: 35px;
}

.surveys-container-opened > div > p, .closed-surveys-container > div > p {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2B2F43;
}

.closed-surveys-container > div > p, .closed-surveys-container > div > p {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2B2F43;
}

.surveys-open-quests-head > div:nth-child(2) > p > svg {
    font-size: 12px;
    position: absolute;
    margin: 0;
    padding: 0;
    margin-left: 135px;
}


.surveys-open-quests > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.survey-not-active {
    cursor: pointer;
    width: 706px;
    height: 55px;
    display: flex;
    align-items: center;
    border-right: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.hide-not-active-text {
    align-items: center;
    margin-left: 19px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:350px;
    justify-content: left;
    align-items: center;
}

.show-active-text{
    margin-left: 19px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 560px;
    justify-content: left;
    align-items: center;
}

.survey-active-border {
    position: absolute;
    height: 59px;
    width: 4px;
    background: #C4C4C4;
    border-radius: 2px;
    margin-left: 702px;
}

.survey-active {
    cursor: pointer;
    width: 706px;
    height: 55px;
    display: flex;
    align-items: center;
    filter: drop-shadow(3px 2px 14px #0000001f);
    background: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}


.surveys-section-container-opened, .surveys-section-container-closed {
    display: flex;
    margin-bottom: 100px;
}

.user-quiz {
    width: 284px;
    height: 800px;
    margin-left: 34px;
    flex-direction: column;
}

.user-quiz > span {
    height: 48px;
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-quiz > span > p:first-child{
    margin-left: 21px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #434C5D;
}

.user-quiz > span > p:last-child {
    margin-right: 19px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B2B2B2;
}

.user-quiz > div > p {
    width: 246px;
    margin-left: 25px;
    margin-top: 21px;
    margin-bottom: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B2F43;
}

.closed-surveys-poll-and-pool-container {
    min-height: 330px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.surveys-reader-poll {
    display: flex;
    flex-direction: column;
    width: 234px;
    height: 145px;
    margin-left: 19px;
    margin-top: 35px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #7F7B7B;

}

.surveys-reader-poll > span  {
    height: 17px;
    display: flex;
    align-items: center;
}

.surveys-reader-poll > span > label  {
    margin-left: 24px;
}

.surveys-reader-poll > span  {
    margin-bottom: 18px;
}

.surveys-reader-poll > span:last-child  {
    margin-bottom: 0;
}

.next-survey-button {
    width: 85px;
    height: 33px;
    border: none;
    background: #D72130;

    color: #FFF5F5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}

.result-switch-button {
    margin-left: 13px;
    border: 1px solid #C63638;
    width: 137px;
    height: 32px;
    background: transparent;
    color: #D72130;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}

.surveys-poll-navigation-buttons {
    margin-top: 15px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    margin-left: 25px;
    margin-right: 25px;
}

.results-button-active {
    margin-left: 98px;
    border: 1px solid #C63638;
    width: 137px;
    height: 32px;
    background: transparent;
    color: #D72130;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}

.surveys-poll-navigation-buttons > button:nth-child(1) {
    align-items: center;
    justify-content: center;
}

.surveys-reader-pool {
    display: none;
    margin-top: 35px;
    flex-direction: column;
    width: 246px;
    height: 145px;
    margin-left: 19px;
}

.surveys-reader-pool > div {
    margin-bottom: 22px;
}

.surveys-reader-pool > div:last-child {
    margin-bottom: 0;
}

.surveys-reader-pool > div > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

}

.surveys-reader-pool > div > span > p {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
}

.yes-results-progress-bar, .no-results-progress-bar, .maybe-results-progress-bar {
    width: 246px;
    height: 10px;
    margin: 0;
    background: #D8D8D8;
    border-radius: 50px;
}

.closed-surveys-reader-pool {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 246px;
    height: 145px;
    margin-left: 19px;
    margin-top: 16px;
}

.closed-surveys-poll-and-pool-container {
    background: #F8F8F8;
}

.closed-surveys-reader-pool {
    margin-bottom: 81px;
}

.closed-surveys-reader-pool > div > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.closed-surveys-reader-pool > div > span > p {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
}

.closed-surveys-reader-pool > div {
    margin-bottom: 22px;
}

.closed-surveys-reader-pool > div:last-child {
    margin-bottom: 0;
}



