.additional-Content-Area{
    position: absolute;
    top: calc(var(--secondary--area-placing) + 800px );
    margin-left:350px;
    max-width: 1071px;
    max-height: 784px;
    display: flex;
    flex-direction: column;
    height:calc(65vw - var(--margin-value));
    width: calc(0.75 * var(--main--area-width));
    align-items: center;
    flex:1;
    justify-content: space-between;
    row-gap: 46px;
    overflow: hidden;
}

a:visited {
    color: inherit;
}

.photo-of-the-day-box{
    border: 1px dashed #B2B2B2;
    flex:1;
    overflow: hidden;
    height: 450px;
    width:100%;
    background-image: url("https://www.beelights.gr/assets/images/empty-image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.photo-of-the-day-box-text{
    display: flex;
    flex: 1;
    position: relative;
    top: 85%;
    left: 16px;
    text-align:left;
    text-decoration: none;
    margin-bottom: 0;
}

.Additional-small-new-box{
    flex-direction: row;
    display: flex;
    width:100%;
    height: 40%;

}

.additional-small-new-row{
    flex-direction: column;
    height: 100%;
    display: flex;
    flex: 1;
}

.additional-small-new{
    overflow: hidden;
    display: flex;
    flex: 1;
    height: 33%;
    width: 100%;
}

.additional-small-new-photo{
    border: 1px dashed #B2B2B2;
    height: 100%;
    width: 40%;
}

.additional-small-new-text{
    text-align: center;
    text-decoration: none;
}
