.create-button{
  cursor: pointer;
  padding: 0;
  height: 32px;
  width: 30%;
  max-width: 160px;
  min-width: 57px;
  background: #FFFEFE;
  border: 0.5px dashed #B2B2B2;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #B2B2B2;
}

.create-subcategory-button {
  @extend .create-button;
  margin-right: 56px;
  margin-left: 56px;
}