.success-toast-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 1.5rem;
    color: #FFFFFF;
    background-color: #229D1F;
}